### Database Configuration

## For Docker Setup, use:
DB_HOST=reclaim-database

## For local setup no Docker, use:
# DB_HOST=localhost

DB_PORT=3306
DB_NAME=reclaim_app
DB_USER=root
DB_PASS=123
DB_CHARSET=utf8mb4


### Email MailHog - Dev
SMTP_HOSTNAME=reclaim-mailhog
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_AUTH=false
SMTP_SECURE=false


### App Settings
ADMIN_EMAIL=admin@example.com
EMAIL_ENABLED=true